body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(40, 40, 75);
}
h1 {
    font-size: 15rem;
    font-family: sans-serif;
}

.letter {
    transition: color 1000ms;
}